.PurchaseBankslip {
    font-family: 'Montserrat', Arial, sans-serif;
    padding-top: 60px;
    .Footer {
        border-top: 1px solid #979797;
        padding-top: 40px;
        margin-top: 60px;
    }
    &-text {
        background: #f7f7f7;
        padding: 80px 15px;
        text-align: center;
        font-size: 14px;
    }
}