.Collapse {
    margin-top: 50px;
    &-item {
        margin-bottom: 40px;
        &-button {
            background: #f7f7f7;
            padding: 40px 60px;
            transition: all 0.5s;
            border: none;
            font-weight: bold;
            width: 100%;
            text-align: left;
            font-family: 'Montserrat', Arial, sans-serif;
            outline: none;
            &-circle {
                display: inline-block;
                border-radius: 100%;
                margin-right: 10px;
                background: #d8d8d8;
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
            }
            &:disabled {
                cursor: not-allowed;
            }
        }

        &-content {
            background: #f7f7f7;
            min-height: 0;
            height: 0;
            overflow: hidden;
            padding: 0;
            font-size: 0;
            transition: all 0.5s;
            input {
                transition: all 0.5s;
                padding: 0;
                height: 0;
            }
        }

        &.is-active {
            .Collapse-item-button {
                background: #f7f7f7;
                padding: 40px 60px 10px;
                @media screen and (max-width: 970px) {
                    padding: 40px 20px 10px;
                }
            }

            .Collapse-item-content {
                max-height: 999999px;
                height: initial;
                padding: 20px 60px 40px;
                font-size: 14px;
                font-family: 'Montserrat', Arial, sans-serif;
                @media screen and (max-width: 970px) {
                    padding: 20px 20px 40px;
                }
                input {
                    padding: 14px 15px;
                    height: initial;
                }
            }
        }
    }
}