.StepOne {
    &-grid {
        &-last {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 970px) {
                display: block
            }
            .FormGroup {
                flex-basis: 50%;
                margin-right: 20px;
                @media screen and (max-width: 970px) {
                    width: 100%;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}