.Products {
    margin-top: 50px;
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        @media screen and (max-width: 560px) {
            display: block;
            border-bottom: 1px solid #e7e7e7;
            padding-bottom: 30px;
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
        .-checkbox {
            flex-basis: 50px;
        }
        &-image {
            flex-basis: 116px;
        }
        &-details {
            flex-basis: calc(100% - 316px);
            padding-left: 20px;
            padding-right: 15px;
            @media screen and (max-width: 560px) {
                padding: 0;
                width: 100%;
            }
            @media screen and (min-width: 970px) {
                flex-basis: calc(100% - 616px);
                padding-right: 300px;
            }
            &-title {
                margin: 0 0 5px;
                font-size: 14px;
            }
            &-description {
                margin: 0;
                font-size: 14px;
            }
        }
        &-value {
            flex-basis: 150px;
            font-size: 18px;
            font-weight: 700;
            text-align: right;
            @media screen and (max-width: 560px) {
                text-align: left;
                margin-top: 5px;
            }
        }
    }
}